@use "styles/_colors.scss";
@use "styles/_text.scss";

.wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 1rem;
  color: colors.$violet-200;
  font-weight: 500;
  @include text.h3-small;
}

.labeled {
  flex: 1;
}
