@use "styles/_colors.scss";

.success {
  color: colors.$green-400;
}

.success-light {
  color: colors.$green-300;
}

.error {
  color: colors.$red-400;
}

.pending {
  color: colors.$orange-400;
}

.neutral {
  color: colors.$black-200;
}
