@use "styles/_colors.scss";

@mixin color($color) {
  border-color: $color;
  border-bottom-color: transparent;
}

.loader {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: 0.5em solid;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation-name: rotation;
  animation-timing-function: cubic-bezier(0, 0.87, 0.88, 0.53);
  animation-iteration-count: infinite;
}

.speed-regular {
  animation-duration: 1s;
}

.speed-slow {
  animation-duration: 1.5s;
}

.color-white {
  @include color(colors.$white);
}

.color-violet {
  @include color(colors.$violet-400);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
