@use "styles/_colors.scss";

.loader {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: 0.5em solid colors.$white;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s cubic-bezier(0, 0.87, 0.88, 0.53) infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
