@use "styles/_text.scss";

.text {
  font-weight: 500;
}

.tight {
  font-size: 1.2rem;
  line-height: 1.25;
  letter-spacing: -0.25px;

  &.size-regular {
    @include text.h3;
  }
}

.loose {
  font-size: 1.1rem;
  line-height: 1.64;
  letter-spacing: -0.2292px;
}
