.text {
    font-weight: 500;
}

.tight {
    font-size: 1.2rem;
    line-height: 1.25;
    letter-spacing: -0.25px;
}

.loose {
    font-size: 1.1rem;
    line-height: 1.64;
    letter-spacing: -.2292px;
}