@use "styles/_colors.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.heading {
  margin-top: 6.4rem;
  margin-bottom: 2.4rem;
}

.body {
  color: colors.$grey-500;
}
