.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.container {
  flex: 1;
}

.empty {
  max-width: 25rem;
  margin: auto;
}

.loader {
  width: 5rem;
  height: 5rem;
  margin: auto;
}
