@use "styles/_colors.scss";
@use "styles/_variables.scss";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem 2.4rem;
  font-weight: 700;
  line-height: 1;
  border: 0;
  border-radius: 24px;
  outline: 0;
  cursor: pointer;
  opacity: 1;
  transition: variables.$transition-fast;
  transition-property: opacity, background-color;

  &.size-regular {
    font-size: 1.2rem;
  }

  &.size-medium {
    font-size: 1.6rem;
  }

  &.is-violet {
    color: colors.$white;
    background-color: colors.$violet-400;

    &:hover {
      opacity: 0.9;
    }

    &.is-outline {
      color: colors.$violet-400;
    }
  }

  &.is-secondary {
    color: colors.$violet-200;
    background-color: colors.$grey-110;
    transition-property: background-color;

    &:hover {
      background-color: colors.$grey-300;
    }
  }

  &.is-black {
    color: colors.$grey-500;
    background-color: colors.$black-200;

    &:hover {
      background-color: colors.$black-500;
    }
  }

  &.is-red {
    color: colors.$white;
    background-color: colors.$red-400;

    &:hover {
      background-color: colors.$red-200;
    }
  }

  &.is-outline {
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    appearance: none;
  }

  &.is-fluid {
    display: flex;
    width: auto;
  }

  &.has-icon {
    padding: 0.8rem 1.5rem 0.8rem 0.8rem;
  }
}

.icon {
  margin-right: 1.6rem;
}
