@use "styles/_colors.scss";

// stylelint-disable
:export {
  violet-400: colors.$violet-400;
  violet-300: colors.$violet-300;
  violet-200: colors.$violet-200;
  blue-500: colors.$blue-500;
  blue-400: colors.$blue-400;
  grey-500: colors.$grey-500;
  grey-300: colors.$grey-300;
  grey-110: colors.$grey-110;
  grey-100: colors.$grey-100;
  black-500: colors.$black-500;
  black-400: colors.$black-400;
  black-200: colors.$black-200;
  red-400: colors.$red-400;
  red-200: colors.$red-200;
}
// stylelint-enable
