@use "styles/_text.scss";
@use "styles/_colors.scss";
@use "styles/_variables.scss";

$icon-size-small: 1.6rem;
$icon-margin-small: 0.5rem;
$icon-offset-small: 1.6rem;

.wrapper {
  position: relative;
  display: inline-flex;
}

.input {
  flex: 1;
  min-width: 0;
  padding: 1.5rem 1.9rem;
  color: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  background-color: transparent;
  border: 1px solid colors.$grey-300;
  border-radius: 4px;
  outline: 0;
  transition: variables.$transition-fast;
  transition-property: border-color;

  @include text.h3;

  &:hover,
  &:active,
  &:focus {
    border-color: colors.$violet-400;
  }

  &.has-icon {
    &.small {
      padding-right: $icon-offset-small + $icon-size-small + $icon-margin-small;
    }
  }
}

.icon {
  position: absolute;
  top: 50%;
  right: $icon-offset-small;
  width: $icon-size-small;
  height: $icon-size-small;
  transform: translateY(-50%);
}
