$violet-400: #7C5DFA;
$violet-300: #9277FF;
$violet-200: #7E88C3;
$blue-500: #1E2139;
$blue-400: #252945;
$grey-500: #888EB0;
$grey-300: #DFE3FA;
$grey-100: #F8F8FB;
$black-500: #0C0E16;
$black-400: #141625;
$red-400: #EC5757;
$red-200: #ff9797;

// -----------------

$body-main: $black-500;
