$violet-400: #7c5dfa;
$violet-300: #9277ff;
$violet-200: #7e88c3;
$blue-500: #1e2139;
$blue-400: #252945;
$grey-500: #888eb0;
$grey-300: #dfe3fa;
$grey-110: #f9fafe;
$grey-100: #f8f8fb;
$black-500: #0c0e16;
$black-400: #141625;
$black-200: #373b53;
$red-400: #ec5757;
$red-200: #ff9797;

// -----------------

$body-main: $black-500;

// -----------------

$white: #fff;
