@use "sass:map";
@use "styles/_helpers.scss";

$sizes: (
  h1: (
    font-size: 3.2rem,
    line-height: 1.125,
    letter-spacing: -1px,
  ),
  h2: (
    font-size: 2rem,
    line-height: 1.1,
    letter-spacing: -0.625px,
    small: (
      font-size: 1.8rem,
      line-height: 2,
      letter-spacing: -0.38px,
    ),
  ),
  h3: (
    font-size: 1.6rem,
    line-height: 1.5,
    letter-spacing: -0.8px,
    small: (
      font-size: 1.4rem,
      line-height: 1.25,
      letter-spacing: -0.25px,
    ),
  ),
);
$h3-sizes: map.get($sizes, h3);
$h2-sizes: map.get($sizes, h2);

@mixin h1() {
  @include helpers.include-properties(map.get($sizes, h1));
}

@mixin h2() {
  @include helpers.include-properties($h2-sizes, $recursive: false);

  &.small {
    @include h2-small;
  }
}

@mixin h2-small() {
  @include helpers.include-properties(map.get($h2-sizes, small));
}

@mixin h3() {
  @include helpers.include-properties($h3-sizes, $recursive: false);

  &.small {
    @include h3-small;
  }
}

@mixin h3-small() {
  @include helpers.include-properties(map.get($h3-sizes, small));
}
