@use "reset";
@use "~normalize.css" as normalize;

@use "fonts";
@use "colors";
@use "transitions";
@use "utils";

@use "vendors/react-modal";

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  color: colors.$body-main;
  font-size: 1.6rem;
  font-family: "League Spartan", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
}
