@use "styles/_colors.scss";

.form {
  display: flex;
  flex-direction: column;
}

.heading {
  margin-bottom: 5rem;
}

.section {
  margin-bottom: 5rem;
}

.input {
  margin-bottom: 2.4rem;
}

.footer {
  position: sticky;
  bottom: 0;
  display: flex;
  margin-right: -5.6rem;
  margin-left: -5.6rem;
  padding: 3.1rem 5.6rem;
  background-color: colors.$white;
  border-radius: 0 20px 20px 0;
}
